# LangChain
Here are a few patterns where LLMs can be augmented with other systems: 

* Convert natural language to SQL, run the SQL on a database, analyze and present the results
* Call an external webhook or API based on the user query
* Synthesize outputs from multiple models, or chain the models in a specific order

![alt text](images/Patterns_augmenting_LLMs_with_external_systems.jpg "Title")

It may look trivial to plumb these calls together and orchestrate them but it becomes a mundane task to write glue code again and again e.g. for every different data connector or a new model. That’s where LangChain comes in!

LangChain’s modular implementation of components and common patterns combining these components makes it easier to build complex applications based on language models. LangChain enables these models to connect to data sources and systems as agents to take action. 

**Components** are abstractions that work to bring external data, such as your documents, databases, applications,APIs to language models

**Agents** enable language models to communicate with its environment, where the model then decides the next action to take.

LangChain offers a variety of modules that can be used to create language model applications. These modules can be combined to create more complex applications, or can be used individually for simpler applications.
![alt text](images/Figure-3-LangChain_Concepts.max-1300x1300.png "Title")

**Models** are the building block of LangChain providing an interface to different types of AI models. Large Language Models (LLMs), Chat and Text Embeddings models are supported model types.

**Prompts** refers to the input to the model, which is typically constructed from multiple components. LangChain provides interfaces to construct and work with prompts easily - Prompt Templates, Example Selectors and Output Parsers. 

**Memory** provides a construct for storing and retrieving messages during a conversation which can be either short term or long term.

**Indexes** help LLMs interact with documents by providing a way to structure them. LangChain provides Document Loaders to load documents, Text Splitters to split documents into smaller chunks, Vector Stores to store documents as embeddings, and Retrievers to fetch relevant documents.

**Chains** let you combine modular components (or other chains) in a specific order to complete a task.

**Agents** are a powerful construct in LangChain allowing LLMs to communicate with external systems via Tools and observe and decide on the best course of action to complete a given task.
* Tools are functions that perform specific duties, such as Google Search, database lookups, or Python REPL. They take a string as input and return a string as output.

* Agents are responsible for determining which actions to take and in what order. They can use tools, observe the output, or return to the user.

* Toolkits are collections of tools that can be utilized by agents. LangChain supports various toolkits to help developers create powerful applications.


Enterprise data is often stored in SQL databases.

LLMs make it possible to interact with SQL databases using natural langugae.

LangChain offers SQL Chains and Agents to build and run SQL queries based on natural language prompts.

These are compatible with any SQL dialect supported by SQLAlchemy (e.g., MySQL, PostgreSQL, Oracle SQL, Databricks, SQLite).

They enable use cases such as:
* Generating queries that will be run based on natural language questions
* Creating chatbots that can answer questions based on database data
* Building custom dashboards based on insights a user wants to analyze

## Overview
LangChain provides tools to interact with SQL Databases:

1. Build SQL queries based on natural language user questions
2. Query a SQL database using chains for query creation and execution
3. Interact with a SQL database using agents for robust and flexible querying

![alt text](images/sql_usecase-d432701261f05ab69b38576093718cf3.png "Title")

In [ ]:
# !pip install langchain==0.0.265
# !pip install openai==0.27.8

In [1]:
# import langchain
# import openai
from langchain.llms import OpenAI, VertexAI
from langchain.agents import AgentExecutor, create_sql_agent 
from langchain.agents.agent_toolkits import SQLDatabaseToolkit 
from langchain.agents.agent_types import AgentType
# from langchain.sql_database import SQLDatabase
from google.cloud.sql.connector import Connector
from config import config

In [2]:
from importlib.metadata import version
print("langchain version:", version('langchain'))
print("openai version:", version('openai'))

langchain version: 0.0.265
openai version: 0.27.8

In [3]:
#setup & init env vars
PROJECT_ID="jared-playground"
REGION="us-central1"
INSTANCE_NAME="gen-ai-text-to-mysql"
INSTANCE_CONNECTION_NAME = f"{PROJECT_ID}:{REGION}:{INSTANCE_NAME}" # i.e demo-project:us-central1:demo-instance

#Just double check stuff....
print(f"Your instance connection name is: {INSTANCE_CONNECTION_NAME}")

!gcloud config set project $PROJECT_ID
!gcloud config get project
!gcloud auth list

Your instance connection name is: jared-playground:us-central1:gen-ai-text-to-mysql
Updated property [core/project].
jared-playground
                  Credentialed Accounts
ACTIVE  ACCOUNT
*       555626409143-compute@developer.gserviceaccount.com

To set the active account, run:
    $ gcloud config set account `ACCOUNT`

In [4]:
def get_db():
    # initialize Connector object
    connector = Connector()
    
    def getconn():
        conn = connector.connect(
            INSTANCE_CONNECTION_NAME,
            "pymysql",
            user=DB_USER,
            db=DB_NAME
        )
        return conn
    
    db = SQLDatabase.from_uri(
        "mysql+pymysql://",
        engine_args = {'creator': getconn},
    )
    return db

LangChain has an SQL Agent which provides a more flexible way of interacting with SQL Databases than the ```SQLDatabaseChain```.

The main advantages of using the SQL Agent are:
* It can answer questions based on the databases' schema as well as on the databases' content (like describing a specific table)
*It can recover from errors by running a generated query, catching the traceback and regenerating it correctly
To initialize the agent, we use ```create_sql_agent``` function.

This agent contains the ```SQLDatabaseToolkit``` which contains tools to:

Create and execute queries
Check query syntax
Retrieve table descriptions
... and more


Zero Shot ReAct
The agent used here is a "zero-shot-react-description" agent. Zero-shot means the agent functions on the current action only — it has no memory. It uses the ReAct framework to decide which tool to use, based solely on the tool’s description.


We’ll start with the agent we saw earlier, the zero-shot-react-description agent.

As described earlier, we use this agent to perform “zero-shot” tasks on some input. That means the agent considers one single interaction with the agent — it will have no memory.

The zero-shot agent works well but lacks conversational memory. This lack of memory can be problematic for chatbot-type use cases that need to remember previous interactions in a conversation.

In [5]:
def test_sql_agent(db, llm, question):
    
    toolkit = SQLDatabaseToolkit(db=db, llm=llm)
    agent_executor = create_sql_agent(
        llm=llm,
        toolkit=toolkit,
        verbose=True,
        # agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
        return_intermediate_steps=True,
        use_query_checker=True,
        max_iterations=5
    )
    # agent_executor.return_intermediate_steps(question)
    agent_executor.run(question)
    
    
    # use_query_checker=True

In [6]:
PROMPT = """ 
The first three digits of the phone number is the area code. The phone number is in the customers table. Revenue is in the payments table. What are the top 10 area codes that generated the most revenue filtered by customers in the USA?
"""

test_sql_agent(
    db = get_db(),
    llm = VertexAI(model_name="code-bison@001", temperature=0, verbose=True),
    # question = "How many orders were placed in the year 2005?"
    question = PROMPT
)

> Entering new AgentExecutor chain...
Question: The first three digits of the phone number is the area code. The phone number is in the customers table. Revenue is in the payments table. What are the top 10 area codes that generated the most revenue filtered by customers in the USA?
Thought: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.
Action: sql_db_list_tables
Action Input:
Observation: customers, employees, offices, orderdetails, orders, payments, productlines, products
Thought:The tables "customers" and "payments" seem relevant. I will query the schema for these tables.
Action: sql_db_schema
Action Input: customers, payments
Observation:
CREATE TABLE customers (
	`customerNumber` INTEGER NOT NULL,
	`customerName` VARCHAR(50) NOT NULL,
	`contactLastName` VARCHAR(50) NOT NULL,
	`contactFirstName` VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	city VARCHAR(50) NOT NULL,
	state VARCHAR(50),
	`postalCode` VARCHAR(15),
	country VARCHAR(50) NOT NULL,
	`salesRepEmployeeNumber` INTEGER,
	`creditLimit` DECIMAL(10, 2),
	PRIMARY KEY (`customerNumber`),
	CONSTRAINT customers_ibfk_1 FOREIGN KEY(`salesRepEmployeeNumber`) REFERENCES employees (`employeeNumber`)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB

/*
3 rows from customers table:
customerNumber	customerName	contactLastName	contactFirstName	phone	addressLine1	addressLine2	city	state	postalCode	country	salesRepEmployeeNumber	creditLimit
103	Atelier graphique	Schmitt	Carine 	40.32.2555	54, rue Royale	None	Nantes	None	44000	France	1370	21000.00
112	Signal Gift Stores	King	Jean	7025551838	8489 Strong St.	None	Las Vegas	NV	83030	USA	1166	71800.00
114	Australian Collectors, Co.	Ferguson	Peter	03 9520 4555	636 St Kilda Road	Level 3	Melbourne	Victoria	3004	Australia	1611	117300.00
*/


CREATE TABLE payments (
	`customerNumber` INTEGER NOT NULL,
	`checkNumber` VARCHAR(50) NOT NULL,
	`paymentDate` DATE NOT NULL,
	amount DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`customerNumber`, `checkNumber`),
	CONSTRAINT payments_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB

/*
3 rows from payments table:
customerNumber	checkNumber	paymentDate	amount
103	HQ336336	2004-10-19	6066.78
103	JM555205	2003-06-05	14571.44
103	OM314933	2004-12-18	1676.14
*/
Thought:The question asks for the top 10 area codes that generated the most revenue filtered by customers in the USA. The customers table has a column for phone number, but it does not have a column for area code. We can use the first three digits of the phone number to calculate the area code. The payments table has a column for customer number, which we can use to join to the customers table. The payments table also has a column for amount, which is the revenue. We can use this information to answer the question.

Action: sql_db_query
Action Input: SELECT SUM(amount) AS revenue,
Observation: Error: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 1")
[SQL: SELECT SUM(amount) AS revenue,]
(Background on this error at: https://sqlalche.me/e/20/f405)
Thought:The query is missing a from clause.
Action: sql_db_query
Action Input: SELECT SUM(amount) AS revenue,
Observation: Error: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 1")
[SQL: SELECT SUM(amount) AS revenue,]
(Background on this error at: https://sqlalche.me/e/20/f405)
Thought:The query is still missing a from clause.
Action: sql_db_query
Action Input: SELECT SUM(amount) AS revenue,
Observation: Error: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 1")
[SQL: SELECT SUM(amount) AS revenue,]
(Background on this error at: https://sqlalche.me/e/20/f405)
Thought:

> Finished chain.

We can see:
* The agent is using a ReAct style prompt
* First, it will look at the tables: Action: ```sql_db_list_tables``` using tool ```sql_db_list_tables```
* Given the tables as an observation, it ```thinks``` and then determinates the next ```action```:
    * Observation: ...
    * Thought: ...
    * Action: ...
    * Action Input: ...
* It then formulates the query using the schema from tool ```sql_db_schema```
* It finally executes the generated query using tool ```sql_db_query```
* If the query is successful it returns:
    * Thought: I now know the final answer.
    * Final Answer: ...

In [7]:
test_sql_agent(
    db = get_db(),
    llm = OpenAI(model_name="text-davinci-003", temperature=0, verbose=True, openai_api_key=config.openai_api_key),
    question = "How many orders were placed in the year 2005?"
)

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: customers, employees, offices, orderdetails, orders, payments, productlines, products
Thought: I should query the schema of the orders table.
Action: sql_db_schema
Action Input: orders
Observation:
CREATE TABLE orders (
	`orderNumber` INTEGER NOT NULL,
	`orderDate` DATE NOT NULL,
	`requiredDate` DATE NOT NULL,
	`shippedDate` DATE,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	`customerNumber` INTEGER NOT NULL,
	PRIMARY KEY (`orderNumber`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/
Thought: I should query the orders table for orders placed in the year 2005.
Action: sql_db_query
Action Input: SELECT COUNT(*) FROM orders WHERE YEAR(orderDate) = 2005
Observation: [(64,)]
Thought: I now know the final answer.
Final Answer: 64 orders were placed in the year 2005.

> Finished chain.

In [8]:
db = get_db()
print(db.table_info)

CREATE TABLE customers (
	`customerNumber` INTEGER NOT NULL,
	`customerName` VARCHAR(50) NOT NULL,
	`contactLastName` VARCHAR(50) NOT NULL,
	`contactFirstName` VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	city VARCHAR(50) NOT NULL,
	state VARCHAR(50),
	`postalCode` VARCHAR(15),
	country VARCHAR(50) NOT NULL,
	`salesRepEmployeeNumber` INTEGER,
	`creditLimit` DECIMAL(10, 2),
	PRIMARY KEY (`customerNumber`),
	CONSTRAINT customers_ibfk_1 FOREIGN KEY(`salesRepEmployeeNumber`) REFERENCES employees (`employeeNumber`)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB

/*
3 rows from customers table:
customerNumber	customerName	contactLastName	contactFirstName	phone	addressLine1	addressLine2	city	state	postalCode	country	salesRepEmployeeNumber	creditLimit
103	Atelier graphique	Schmitt	Carine 	40.32.2555	54, rue Royale	None	Nantes	None	44000	France	1370	21000.00
112	Signal Gift Stores	King	Jean	7025551838	8489 Strong St.	None	Las Vegas	NV	83030	USA	1166	71800.00
114	Australian Collectors, Co.	Ferguson	Peter	03 9520 4555	636 St Kilda Road	Level 3	Melbourne	Victoria	3004	Australia	1611	117300.00
*/


CREATE TABLE employees (
	`employeeNumber` INTEGER NOT NULL,
	`lastName` VARCHAR(50) NOT NULL,
	`firstName` VARCHAR(50) NOT NULL,
	extension VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	`officeCode` VARCHAR(10) NOT NULL,
	`reportsTo` INTEGER,
	`jobTitle` VARCHAR(50) NOT NULL,
	PRIMARY KEY (`employeeNumber`),
	CONSTRAINT employees_ibfk_1 FOREIGN KEY(`reportsTo`) REFERENCES employees (`employeeNumber`),
	CONSTRAINT employees_ibfk_2 FOREIGN KEY(`officeCode`) REFERENCES offices (`officeCode`)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB

/*
3 rows from employees table:
employeeNumber	lastName	firstName	extension	email	officeCode	reportsTo	jobTitle
1002	Murphy	Diane	x5800	dmurphy@classicmodelcars.com	1	None	President
1056	Patterson	Mary	x4611	mpatterso@classicmodelcars.com	1	1002	VP Sales
1076	Firrelli	Jeff	x9273	jfirrelli@classicmodelcars.com	1	1002	VP Marketing
*/


CREATE TABLE offices (
	`officeCode` VARCHAR(10) NOT NULL,
	city VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	state VARCHAR(50),
	country VARCHAR(50) NOT NULL,
	`postalCode` VARCHAR(15) NOT NULL,
	territory VARCHAR(10) NOT NULL,
	PRIMARY KEY (`officeCode`)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB

/*
3 rows from offices table:
officeCode	city	phone	addressLine1	addressLine2	state	country	postalCode	territory
1	San Francisco	+1 650 219 4782	100 Market Street	Suite 300	CA	USA	94080	NA
2	Boston	+1 215 837 0825	1550 Court Place	Suite 102	MA	USA	02107	NA
3	NYC	+1 212 555 3000	523 East 53rd Street	apt. 5A	NY	USA	10022	NA
*/


CREATE TABLE orderdetails (
	`orderNumber` INTEGER NOT NULL,
	`productCode` VARCHAR(15) NOT NULL,
	`quantityOrdered` INTEGER NOT NULL,
	`priceEach` DECIMAL(10, 2) NOT NULL,
	`orderLineNumber` SMALLINT NOT NULL,
	PRIMARY KEY (`orderNumber`, `productCode`),
	CONSTRAINT orderdetails_ibfk_1 FOREIGN KEY(`orderNumber`) REFERENCES orders (`orderNumber`),
	CONSTRAINT orderdetails_ibfk_2 FOREIGN KEY(`productCode`) REFERENCES products (`productCode`)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/


CREATE TABLE orders (
	`orderNumber` INTEGER NOT NULL,
	`orderDate` DATE NOT NULL,
	`requiredDate` DATE NOT NULL,
	`shippedDate` DATE,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	`customerNumber` INTEGER NOT NULL,
	PRIMARY KEY (`orderNumber`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/


CREATE TABLE payments (
	`customerNumber` INTEGER NOT NULL,
	`checkNumber` VARCHAR(50) NOT NULL,
	`paymentDate` DATE NOT NULL,
	amount DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`customerNumber`, `checkNumber`),
	CONSTRAINT payments_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB

/*
3 rows from payments table:
customerNumber	checkNumber	paymentDate	amount
103	HQ336336	2004-10-19	6066.78
103	JM555205	2003-06-05	14571.44
103	OM314933	2004-12-18	1676.14
*/


CREATE TABLE productlines (
	`productLine` VARCHAR(50) NOT NULL,
	`textDescription` VARCHAR(4000),
	`htmlDescription` MEDIUMTEXT,
	image MEDIUMBLOB,
	PRIMARY KEY (`productLine`)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB

/*
3 rows from productlines table:
productLine	textDescription	htmlDescription	image
Classic Cars	Attention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking	None	None
Motorcycles	Our motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends 	None	None
Planes	Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office o	None	None
*/


CREATE TABLE products (
	`productCode` VARCHAR(15) NOT NULL,
	`productName` VARCHAR(70) NOT NULL,
	`productLine` VARCHAR(50) NOT NULL,
	`productScale` VARCHAR(10) NOT NULL,
	`productVendor` VARCHAR(50) NOT NULL,
	`productDescription` TEXT NOT NULL,
	`quantityInStock` SMALLINT NOT NULL,
	`buyPrice` DECIMAL(10, 2) NOT NULL,
	`MSRP` DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`productCode`),
	CONSTRAINT products_ibfk_1 FOREIGN KEY(`productLine`) REFERENCES productlines (`productLine`)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB

/*
3 rows from products table:
productCode	productName	productLine	productScale	productVendor	productDescription	quantityInStock	buyPrice	MSRP
S10_1678	1969 Harley Davidson Ultimate Chopper	Motorcycles	1:10	Min Lin Diecast	This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive 	7933	48.81	95.70
S10_1949	1952 Alpine Renault 1300	Classic Cars	1:10	Classic Metal Creations	Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening 	7305	98.58	214.30
S10_2016	1996 Moto Guzzi 1100i	Motorcycles	1:10	Highway 66 Mini Classics	Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine,	6625	68.99	118.94
*/

The query builder can be improved in several ways, such as (but not limited to):

* Customizing database description to your specific use case.
* Hardcoding a few examples of questions and their corresponding SQL query in the prompt.
* Using a vector database to include dynamic examples that are relevant to the specific user question.

All these examples involve customizing the chain's prompt. For example, we can include a few examples in our prompt like so:

In [9]:
from langchain.prompts.prompt import PromptTemplate

TEMPLATE = """Given an input question, first create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Be sure to put a semi-colon after query.
Use the following format:

Question: "Question here"
SQLQuery: "SQL Query to run"
SQLResult: "Result of the SQLQuery"
Answer: "Final answer here"

Only use the following tables:

{table_info}.

Some examples of SQL queries that corrsespond to questions are:

{few_shot_examples}

Question: {input}"""
CUSTOM_PROMPT = PromptTemplate(
    input_variables=["input", "few_shot_examples", "table_info", "dialect"], template=TEMPLATE
)

In [10]:
few_shot_examples = """
Here is an example: 
The question is: How many unique customers placed an order between 1/1/2004 and 1/31/2004? 
The corresponding SQL is: SELECT count(distinct t1.customerNumber) as distinct_customers FROM orders t5 INNER JOIN customers t1 ON t5.customerNumber = t1.customerNumber WHERE t5.orderDate BETWEEN '2004-01-01' AND '2004-01-31';
Here is an example: 
The question is: What is the product name and price of the highest priced item that was ever purchased? 
The corresponding SQL is: SELECT t8.productName, t4.priceEach FROM orders t5 INNER JOIN orderdetails t4 ON t5.orderNumber = t4.orderNumber LEFT JOIN products t8 ON t4.productCode = t8.productCode ORDER BY priceEach DESC LIMIT 1;
Here is an example: 
The question is: What is the name of the customer with the highest order amount on 12/1/2003? 
The corresponding SQL is: SELECT orders.customerName, orders.total_orderAmount FROM (SELECT t5.orderNumber, t1.customerNumber, t1.customerName, SUM(t4.quantityOrdered*t4.priceEach) as total_orderAmount FROM customers t1 INNER JOIN orders t5 ON t1.customerNumber = t5.customerNumber INNER JOIN orderdetails t4 ON t5.orderNumber = t4.orderNumber WHERE t5.orderDate = '2003-12-01' GROUP BY 1,2,3) orders ORDER BY total_orderAmount DESC LIMIT 1;
Here is an example: 
The question is: How many unique orders were placed at the Paris office during the year 2004?
The corresponding SQL is: SELECT count(distinct t5.orderNumber) as orders FROM orders t5 INNER JOIN customers t1 ON t5.customerNumber = t1.customerNumber LEFT JOIN employees t2 ON t1.salesRepEmployeeNumber = t2.employeeNumber LEFT JOIN offices t3 ON t2.officeCode = t3.officeCode WHERE YEAR(t5.orderDate) = 2004 AND t3.city = 'Paris';
"""

question = """ 
The phone number is in the customers table. 
Extract the first three digits of the phone number for the area code.
Revenue is in the payments table. 
What are the top 10 area codes that generated the most revenue filtered by customers in the USA?
"""

table_info = """
payments, customers
"""

In [11]:
db = get_db()
llm = VertexAI(model_name="code-bison@001", temperature=0, verbose=True)
toolkit = SQLDatabaseToolkit(db=db, llm=llm, prompt=CUSTOM_PROMPT)
agent_executor = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    # agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
    return_intermediate_steps=True,
    use_query_checker=True,
    max_iterations=5
)
agent_executor.run(
    dict(input=question, 
         few_shot_examples=few_shot_examples,
         table_info=db.get_table_info(), 
         dialect=db.dialect
        )
)

> Entering new AgentExecutor chain...
Question: The phone number is in the customers table.
Extract the first three digits of the phone number for the area code.
Revenue is in the payments table.
What are the top 10 area codes that generated the most revenue filtered by customers in the USA?

Thought: I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.
Action: sql_db_list_tables
Action Input:
Observation: customers, employees, offices, orderdetails, orders, payments, productlines, products
Thought:The customers table has the phone number and the country.  The payments table has the revenue.  I need to join the tables on the customer id.
Action: sql_db_schema
Action Input: customers, payments
Observation:
CREATE TABLE customers (
	`customerNumber` INTEGER NOT NULL,
	`customerName` VARCHAR(50) NOT NULL,
	`contactLastName` VARCHAR(50) NOT NULL,
	`contactFirstName` VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	city VARCHAR(50) NOT NULL,
	state VARCHAR(50),
	`postalCode` VARCHAR(15),
	country VARCHAR(50) NOT NULL,
	`salesRepEmployeeNumber` INTEGER,
	`creditLimit` DECIMAL(10, 2),
	PRIMARY KEY (`customerNumber`),
	CONSTRAINT customers_ibfk_1 FOREIGN KEY(`salesRepEmployeeNumber`) REFERENCES employees (`employeeNumber`)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB

/*
3 rows from customers table:
customerNumber	customerName	contactLastName	contactFirstName	phone	addressLine1	addressLine2	city	state	postalCode	country	salesRepEmployeeNumber	creditLimit
103	Atelier graphique	Schmitt	Carine 	40.32.2555	54, rue Royale	None	Nantes	None	44000	France	1370	21000.00
112	Signal Gift Stores	King	Jean	7025551838	8489 Strong St.	None	Las Vegas	NV	83030	USA	1166	71800.00
114	Australian Collectors, Co.	Ferguson	Peter	03 9520 4555	636 St Kilda Road	Level 3	Melbourne	Victoria	3004	Australia	1611	117300.00
*/


CREATE TABLE payments (
	`customerNumber` INTEGER NOT NULL,
	`checkNumber` VARCHAR(50) NOT NULL,
	`paymentDate` DATE NOT NULL,
	amount DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`customerNumber`, `checkNumber`),
	CONSTRAINT payments_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=latin1 ENGINE=InnoDB

/*
3 rows from payments table:
customerNumber	checkNumber	paymentDate	amount
103	HQ336336	2004-10-19	6066.78
103	JM555205	2003-06-05	14571.44
103	OM314933	2004-12-18	1676.14
*/
Thought:The customers table has the phone number and the country.  The payments table has the revenue.  I need to join the tables on the customer id.
Action: sql_db_query
Action Input: SELECT c.phone, SUM(p.amount) AS revenue
FROM customers AS c
JOIN payments AS p
ON c.customerNumber = p.customerNumber
WHERE c.country = "USA"
GROUP BY c.phone
ORDER BY revenue DESC
LIMIT 10
Observation: [('4155551450', Decimal('584188.24')), ('2125557413', Decimal('177913.95')), ('6175558555', Decimal('164079.02')), ('6505551386', Decimal('132340.78')), ('6035558647', Decimal('116449.29')), ('2125557818', Decimal('107639.94')), ('6505556809', Decimal('104545.22')), ('5085559555', Decimal('101872.52')), ('2155551555', Decimal('98509.25')), ('2035552570', Decimal('95424.63'))]
Thought:I now know the final answer
Final Answer: [('4155551450', Decimal('584188.24')), ('2125557413', Decimal('177913.95')), ('6175558555', Decimal('164079.02')), ('6505551386', Decimal('132340.78')), ('6035

> Finished chain.

"[('4155551450', Decimal('584188.24')), ('2125557413', Decimal('177913.95')), ('6175558555', Decimal('164079.02')), ('6505551386', Decimal('132340.78')), ('6035"